<a href="https://colab.research.google.com/github/navyatheethira/INTERNSOFTcodefiles/blob/main/nav3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples**

Constructing Tuples

In [ ]:
t=(1,2,3)
len(t)

3

In [ ]:
t=('one',2)
t

('one', 2)

In [ ]:
t[0]

'one'

In [ ]:
#indexing is always done using square brackets
t[-1]

2

**Basic Tuple Methods**

In [ ]:
t=('one',2)
t.index('one')

0

**Immutability**

In [ ]:
#immutable-which cannot be changed
t[0]='change'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

**Sets**
unordered collection of unique elements which can be constructed using set()

In [ ]:
#sets are represented using curly braces{}
x=set()
x.add(1)
x

{1}

In [ ]:
x.add(2)
x

{1, 2}

In [ ]:
#sets cannot add repetitive elements
x.add(1)
x

{1, 2}

In [ ]:
#executes only the unique elements
l=[1,1,2,2,3,4,5,6,1,1]
set(l)

{1, 2, 3, 4, 5, 6}

**Dictionaries**

**Mappings** -Association between key and associated value

**Constructing a dictionary**

In [ ]:
my_dict={'key1':'value1','key2':'value2'}
my_dict['key2']

'value2'

In [ ]:
my_dict={'key1':123,'key2':[12,23,33],'key3':['item 0','item 1','item 2']}
my_dict['key3']

['item 0', 'item 1', 'item 2']

In [ ]:
my_dict['key3'][0]

'item 0'

In [ ]:
my_dict['key3'][0].upper()

'ITEM 0'

In [ ]:
my_dict['key1']
my_dict['key1']=my_dict['key1']-123
my_dict['key1']

0

In [ ]:
#python has built in methods for self subtraction ,addition ,multiplication and division
my_dict['key1']-=123
my_dict['key1']

-123

In [ ]:
d={}
d['animal']='dog'
d['answer']=42
d

{'animal': 'dog', 'answer': 42}

**Nesting with dictionaries**

In [ ]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}
d['key1']['nestkey']['subnestkey']

'value'

**Few Dictionary Methods**

In [ ]:
d={'key 1':1,'key 2':2,'key 3':3}
d.keys()

dict_keys(['key 1', 'key 2', 'key 3'])

In [ ]:
d.values()

dict_values([1, 2, 3])

In [ ]:
d.items()

dict_items([('key 1', 1), ('key 2', 2), ('key 3', 3)])

**Dictionary Comprehensions**

In [ ]:
#it reduces no of lines in the code
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#single* is multiplication and double** is power
{x:x**2 for x in range (10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

**Functions**:code reusability

In [ ]:
#syntax-def name_of_the_function(arg1,arg2):
def Say_Hola():
    print('Hola')
Say_Hola()

Hola

In [ ]:
def Greeting(name):
    print('Heyyy %s'%name)
    print('How are you doing %s' %name)
Greeting('Sara!')

Heyyy Sara!
How are you doing Sara!

**Using Return**
Allows a func to return the result that can then be stored as a variable or it can be used according to the user's needs

In [ ]:
#Addition function
def add_num(num1,num2):
    return num1+num2

In [ ]:
add_num(4,5)

9

In [ ]:
result=add_num(4,5)

In [ ]:
print(result)

9

In [ ]:
#num1+num2 '+' symbol indicates addition btwn 2 no's /if '+' symbol is btwn two strings then it concatenates two strings
print(add_num ('one\t','two'))

one	two

In [11]:
#Naive method of checking for primes
def is_prime(num):
    for n in range(2,num):# arguments indicates the start(2) and stop(num)
        if num%n==0:
            print('Not Prime')
            break
    else:
          print('Prime')

In [4]:
is_prime(6)

Not Prime

In [9]:
is_prime(11)

Prime

In [17]:
import math
def is_prime(num):
    if num%2==0 and num>2:#Eg:25%2 rem=1,Quo=12, False/25>2 ,True Logical AND operator returns False
        return False
    for i in range(3,int(math.sqrt(num))+1,2):#3(start),6(stop),2(step size)
        if num%i==0: # 25%3 rem=1,quo=8/ 5%25 rem=0 satisfies the condition & returns False
            return False
    return True

In [19]:
x=math.sqrt(25)
print(list(range(3,6,2)))

[3, 5]

In [23]:
x=int(math.sqrt(11)+1) #sqrt of 11 is 3.1666 ,int will round it off to 3
print(list(range(3,4,2)))

[3]

In [18]:
is_prime(25)

False

In [21]:
is_prime(11)

True

**Iterators and Generators**

In [49]:
#Generator func for the cube of numbers
def gencubes(n):
    for num in range(n):
        yield num**3

In [51]:
for x in gencubes(10): #here x is an iterator
    print(x)

0
1
8
27
64
125
216
343
512
729

In [52]:
#generate fibonacci series upto n
def genfibon(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b  #b value will be given to a and a+b value will be given to b

In [53]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [56]:
def fibon(n):
    a=1
    b=1
    output=[]
    for i in range(n):
        output.append(a)
        a,b=b,a+b #b value is given to a and in the next loop it will append a to the o/p list
    return output

In [57]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

**next() and iter() Built-In Functions**

In [61]:
#Allows us to access next element in a sequence
print(list(range(3)))

[0, 1, 2]

In [58]:
def simple_gen():
    for x in range(3):
        yield x

In [62]:
g=simple_gen()

In [63]:
print(next(g))

0

In [64]:
print(next(g))

1

In [65]:
print(next(g))

2

In [10]:
print(next(g))

NameError: name 'g' is not defined

In [68]:
s='Heyyyyy'
for i in s:
    print(i)

H
e
y
y
y
y
y

In [69]:
next(s)

TypeError: 'str' object is not an iterator

In [70]:
s_iter=iter(s)
next(s_iter)

'H'

In [71]:
next(s_iter)

'e'

**map() Function**
Syntax:map(function,sequence) map:keyword,function:function name,seq:Collecttion of strings, eg:list

In [8]:
def Fahrenheit(T):
    return((float(9)/5)*T+32)
def celsius(T):
    return(float(5)/9)*(T-32)
Temp=[0,22.5,40,100]

In [9]:
F_Temp=list(map(Fahrenheit,Temp))
F_Temp

[32.0, 72.5, 104.0, 212.0]

In [12]:
#converting it back
list(map(celsius,F_Temp))

[0.0, 22.5, 40.0, 100.0]

**lambda() Function**
  Map is used with lambda() to reduce the lines of code(Instead of using for loops)

In [24]:
list(map(lambda x:(5/9)*(x-32),F_Temp))

[0.0, 22.5, 40.0, 100.0]

In [25]:
#for 2 lists
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,10,11,12]
list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12]

In [26]:
#for all 3 lists
list(map(lambda x,y,z:x+y+z,a,b,c))

[15, 18, 21, 24]

**reduce()**
It continues adding in a sequence and gives a single element as the result of reduce

In [27]:
from functools import reduce
list=[47,11,42,13]
reduce(lambda x,y:x+y,list)

113

In [ ]:
from Ipython.display import Image
Image('http://www.python course.eu/images/reduce_diagram.png')

In [31]:
max_find=lambda a,b: a if (a>b) else b

In [32]:
reduce(max_find,list)

47

**filter**

In [4]:
def even_check(num):
    if(num%2==0):
        return True

In [6]:
lst = range(20)
print(list(lst))
list(filter(even_check, lst))  # Renaming the variable

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
list(filter(lambda x:x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]